@font-face {
	font-family: 'BrownBold';
	src: url('BrownStd-Bold.eot');
	src: url('BrownStd-Bold.eot?#iefix') format('embedded-opentype'),
		 url('BrownStd-Bold.woff') format('woff'),
		 url('BrownStd-Bold.ttf') format('truetype'),
		 url('BrownStd-Bold.svg#BrownBold') format('svg');
	font-weight: normal;
	font-style: normal;
}

#fontsTesting{ font-family: 'BrownBold'; }