/**
*   Author Custom Mixins
*/

@mixin clearfix() {
    zoom: 1;
    &:before {
        content: '';
        display: block;
    }
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}

@mixin respond-to($media) {
    @if $media == mobile {
        @media screen and (max-width: $mobileMaxWidth) { 
            @content; 
        }
    }
    @else if $media == tablet {
        @media screen and (min-width: $mobileMaxWidth + 1) and (max-width: $tabletMaxWidth - 1) { 
            @content; 
        }
    }
    @else if $media == mix {
        @media screen and (max-width: $tabletMaxWidth - 1) { 
            @content; 
        }
    }
    @else {
        @media screen and (max-width: $media) { 
            @content; 
        }
    }
}

@mixin respond-fonts($fontsize){
    font-size: $fontsize;
    @if $fontsize == 48px{
        @include respond-to(mobile){
            font-size: 36px;
        }
    } 
    @else if $fontsize == 40px{
        @include respond-to(mobile){
            font-size: 32px;
        }
    }
    @else if $fontsize == 36px{
        @include respond-to(mobile){
            font-size: 28px;
        }
    }
    @else if $fontsize == 28px{
        @include respond-to(mobile){
            font-size: 22px;
        }
    }
    @else if $fontsize == 24px{
        @include respond-to(mobile){
            font-size: 18px;
        }
    }
}