/**
*   Author Variables
*/

$mainGreen: #264c59;
$secGreen: #459d8d;

$footerGrey: #f2f0ef;

$tabletMaxWidth: 960px;
$mobileMaxWidth: 840px - 40px; //600px

.animation{
    -webkit-transition: all .5s linear;
    -moz-transition: all .5s linear;
    -ms-transition: all .5s linear;
    -o-transition: all .5s linear;
    transition: all .5s linear;
}