@font-face {
	font-family: 'BrownRegular';
	src: url('BrownStd-Regular.eot');
	src: url('BrownStd-Regular.eot?#iefix') format('embedded-opentype'),
		 url('BrownStd-Regular.woff') format('woff'),
		 url('BrownStd-Regular.ttf') format('truetype'),
		 url('BrownStd-Regular.svg#BrownRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

#fontsTesting{ font-family: 'BrownRegular'; }