/**
*   Import all desired scss files here
*/

// [include:base]
@import 'base/_variables';
@import 'base/_mixins';
@import 'base/_global';
@import 'base/_ie8';
@import 'base/_reset';
// [/include]

// [include:vendor]
@import 'vendor/_normalize';
@import 'vendor/_bourbon';
// [/include]

@import 'fonts';

/**
*   The default folder for the styles subgenerator is `partials`
*   If you would rather use a different folder, feel free to use the `--folder` flag
*   and change the comment below to match your new folder.
*   ex. `yo yeogurt:style myStyle --folder=module`
*   Comments would be:
*   [include:modules]
*   [/include]
*/
// [include:partials]
// [/include]

body{ background-color:#2ce; }

#nav{ 
    padding-top:50px;
    .navButton, .logo{ float: left; }
    .logo{ border-bottom:2px solid #4aab96; padding-bottom:5px; }
}
.container{ 
    width:$tabletMaxWidth; margin:0 auto; 
}