/**
*   Import all desired scss files here
*/

// [include:base]
@import 'base/_variables';
@import 'base/_mixins';
@import 'base/_global';
@import 'base/_ie8';
@import 'base/_reset';
// [/include]

// [include:vendor]
@import 'vendor/_normalize';
@import 'vendor/_bourbon';
// [/include]

@import 'fonts';

/**
*   The default folder for the styles subgenerator is `partials`
*   If you would rather use a different folder, feel free to use the `--folder` flag
*   and change the comment below to match your new folder.
*   ex. `yo yeogurt:style myStyle --folder=module`
*   Comments would be:
*   [include:modules]
*   [/include]
*/
// [include:partials]
// [/include]

body{ font-family: 'BrownRegular', Arial, sans-serif; width:100%; height:100%; }

strong{ font-family: 'BrownBold', Arial, sans-serif; }

iframe[id^='twitter-widget-']{ width:100% !important; }

.mobile{ display:none; }
@include respond-to(mobile){ 
	.mobile{ 
		display:block; 
	}
	.desktop{ 
		display:none; 
	}
}
.wrapper{
	&.home{
		.fw-banner{ background-image:url(../images/banner_home.png); }
		#nav{
			.logo{ border-bottom:2px solid #4aab96; }		
			.navButton:hover span, .navButton.active span{ border-bottom:2px solid #4aab96; }
		}
		.owl .owl-controls .owl-pagination .owl-page.active span{ color:#4aab96; }
		.footer{
			.lower{ background-image:url(../images/logo_footer_home.png); }
		}
	} 
	&.contact{
		.fw-banner{ background-image:url(../images/banner_contact.png); }
		#nav{
			.logo{ border-bottom:2px solid #8a57ac; }		
			.navButton:hover span, .navButton.active span{ border-bottom:2px solid #8a57ac; }
		}
		.owl .owl-controls .owl-pagination .owl-page.active span{ color:#8a57ac; }
		.footer{
			.lower{ background-image:url(../images/logo_footer_contact.png); }
		}
	} 
	&.work{
		.fw-banner{ background-image:url(../images/banner_work.png); }	
		#nav{
			.logo{ border-bottom:2px solid #e38025; }
			.navButton:hover span, .navButton.active span{ border-bottom:2px solid #e38025; }
		}
		.owl .owl-controls .owl-pagination .owl-page.active span{ color:#e38025; }
		.footer{
			.lower{ background-image:url(../images/logo_footer_work.png); }
		}
	}
	&.news{
		.fw-banner{ background-image:url(../images/banner_news.png); }	
		#nav{
			.logo{ border-bottom:2px solid #cb3362; }
			.navButton:hover span, .navButton.active span{ border-bottom:2px solid #cb3362; }
		}
		.owl .owl-controls .owl-pagination .owl-page.active span{ color:#cb3362; }
		.footer{
			.lower{ background-image:url(../images/logo_footer_news.png); }
		}
	}
	&.about{
		.fw-banner{ background-image:url(../images/banner_about.png); }	
		#nav{
			.logo{ border-bottom:2px solid #d7d32b; }
			.navButton:hover span, .navButton.active span{ border-bottom:2px solid #d7d32b; }
		}
		.owl .owl-controls .owl-pagination .owl-page.active span{ color:#d7d32b; }
		.footer{
			.lower{ background-image:url(../images/logo_footer_about.png); }
		}
	}
	&.thirdPage, &.subPage{
		.fw-banner{
			height:290px; background:$mainGreen; min-height:initial; position:relative;
			.icon{ 
				width:70px; position:absolute; color:#828f94; z-index:10;
				border-bottom:1px solid #828f94; font-size:30px;
				@include respond-to(mobile){ width:40px; }
				&.icon-x-1{ 
					left:0; top:140px; text-align: right; 
					@include respond-to(mobile){ display:none; }
				}
				&.icon-10b-right{ 
					top:140px; right:0; text-align: left; 
					@include respond-to(mobile){ left:0; right:auto; }
				}
				&.icon-11b-left{ top:200px; right:0; text-align: left; }
				&.icon-10b-right, &.icon-11b-left{
					@include respond-to(mobile){ top:60%; border:none; }
				}
			}
			.txt-container{ 
				height:auto; padding-top:140px; 
				.title{ text-align: center; }
				.subTitle{ @include respond-fonts(24px); max-width:60%; text-align: center; margin:10px auto 0px auto; }
			}
			.bottom-arrow{ display:none; }
		}
		.midContent{ 
			position:static; height:auto; 
			.midContentRelative{ height:auto; }
			.midContentAbsolute{ position:static; }
		}
		#nav{ background:#06171f; }
	}
	&.thirdPage{ 
		.fw-banner{
			background:#FFF; color:$mainGreen; 
		}
		#nav{ background:$mainGreen; }
	}
}
.fw-banner{
	position:absolute; background-position:top center; 
	width:100%; height:100%; top:0; @include respond-fonts(48px); color:#FFF;
	min-height:600px;
	.txt-container{ 
		position:relative; height:100%; width:100%;
		.txt{ 
			position:absolute; top:50%; margin-top:-140px; width:100%; text-align: center; 
			span{ max-width:500px; display:inline-block; }
		}
	}
	.bottom-arrow{ width:100%; text-align:center; bottom:10px; position:absolute; cursor:pointer; z-index:10; }
}

#nav{ 
    padding: 30px 0; position:absolute; z-index:10; text-align:center; width:100%;
    .container{ max-width:700px; }
	.navLeft{ float: left; width:40%; position:absolute; left:0; top:0; }
	.navRight{ float: right; width:40%; position:absolute; right:0; top:0; }
    .navButton{ 
    	color:#FFF; width:50%; font-family:'BrownBold', Arial, sans-serif; 
    	float: left; text-align: center;
    	&:hover span, &.active span{ border-bottom:2px solid #e38025; padding-bottom:5px; }
    }
    .navLeft, .navRight{
    	padding-top: 32px;
    	@include respond-to(mobile){ display:none; }
    }
    .langButton{ 
    	position: absolute; right:40px; color:#FFF; top:60px; display:none;
    	@include respond-to(mobile){ display:none; }
    }
    .menu{ 
    	position: absolute; right:20px; color:#FFF; top:50px; display:none; @include respond-fonts(40px); cursor:pointer;
    	@include respond-to(mobile){ display:block; }
    }
    .logo{ padding-bottom:5px; text-align:center; display:inline-block; }
}
.midContent{ 
	position:absolute; width:100%; height:100%;
	.midContentRelative{ 
		position: relative; width:100%; height:100%; min-height:600px;
		.midContentAbsolute{ position:absolute; top:100%; width:100%; }
	}
}
.container{ width:100%; max-width:$tabletMaxWidth; margin:0 auto; position:relative; }
.section{
	text-align: center; position:relative;
	.title{ 
		@include respond-fonts(48px); color:$mainGreen; text-align: center; margin:50px 0; 
		&.maxWidth{
			span{ max-width: 600px; display: inline-block; }
		}
	}
	.mountWidthImage{ width:80%; margin:0 auto; max-width:$tabletMaxWidth; }
	&#latestNews{ margin-bottom:60px; }
	&#contact{ 
		padding:60px 0px 60px 0; 
		.addresses	{ 
			width:80%; max-width: $tabletMaxWidth; margin:20px auto 0px auto;
			.address{ 
				float:left; width:33%; 
				@include respond-to(mobile){
					float:none; margin:0 auto; width:100%;
				}
			}
			.contactLeft, .contactMiddle{ 
				border-right:1px solid #bfbfbf; 
				@include respond-to(mobile){
					border-right:none; 
					border-bottom:1px solid #bfbfbf; margin-bottom:20px;
				}
			}
		}
		strong{ display:block; color:$mainGreen; margin-bottom:10px; }
	}
	&#works{
		a{ text-decoration: none; }
		.worksLeft, .worksRight{ 
			width:49%;
			.mountWidthImage{ width:100%; }
			.worksDesc{ @include respond-fonts(24px); color:$mainGreen; margin-top:30px; padding:0 30px; }
		}
		.worksLeft{ float:left; }
		.worksRight{ float:right; }
		.worksLeft, .worksRight{
			@include respond-to(mobile){
				float:none; width:100%; margin-top:40px;
				.worksDesc{ margin-bottom:20px; }
			}
		}
		.worksMidBanner{ 
			margin:40px 0; padding:100px 0; background-color: #f2f0ef; 
			color:$mainGreen; @include respond-fonts(48px); position:relative;
			.txt{ padding:0 40px; }
			.bottom-arrow{ 
				position:absolute; bottom:10px; width:100%; 
				.icon-08b-down{ margin:0 auto; }
			}
		}
		.whatwedo{ 
			margin:0 auto 60px auto; 
			.whatwedo-txt{ width:60%; margin:0 auto 20px auto; }
		}
		.bottomBanner{ 
			background-image:url(../images/banner_work2.png); 
			background-repeat: no-repeat; background-position:center center;
			width:100%; height:660px;
			.title{ color:#FFF; margin:0 auto; padding:250px 0; width:80%; }
		}
	}
	&#workSubPage{
		.gallery{
			margin:50px 0 200px 0;
			.galleryRow{ width:80%; margin:5px auto; }
			.galleryLeft{ float:left; width:32%; margin-right:1%; }
			.galleryMiddle{ float:left; width:32%; margin-right:1%; }
			.galleryRight{ float:left; width:32%; }
			.galleryLeft, .galleryMiddle, .galleryRight{
				@include respond-to(mobile){
					float:none; width:100%; margin:20px 0;
				}
			}
			.galleryNode{	
				img{ width:100%; }
				.active{ 
					display:none; 
				}
				@include respond-to(mobile){
					.active{ display:block; }
					.normal{ display:none; }
				}
				&:hover{
					.active{ display:block; }
					.normal{ display:none; }
				}
			}
		}
	}
	&#workThirdPage{
		.mountWidthImage{ width:100%; }
		.projectTitle{ width:60%; margin:40px auto; }
		.projectLeft{ 
			width:29%; margin-right:2%; text-align: left; float:right; font-size:14px;
			.txt{ padding-right:10%; }
		}
		.projectRight{ width:69%; float:right; @include respond-fonts(28px); text-align: left; }
		.projectLeft, .projectRight{ 
			border-top:1px solid #e38025; padding:40px 0; 
			@include respond-to(mobile){
				float:none; width:85%; margin:0 auto;
			}
		}
	}
	&#newsSubPage, &#news{
		margin-bottom:60px;
		.subNav{
			text-align: center; margin:70px 0;
			.subNavBtn{ 
				display:inline-block; margin:0 30px 20px 30px; cursor:pointer;
				border-bottom:2px solid #FFF;
				&:hover, &.active{ border-bottom:2px solid #cb3362; }
			}
		}
		.node{ 
			width:80%; margin:0 auto 40px auto; 
			img{ width:100%; }
			.date-type{
				font-size:20px; margin-top:10px;
				.date{ float:left; }
				.type{ float:right; }
			}
			.title{ margin:20px 0; }
			.introDesc{ width:80%; margin:0 auto; }
			.btn{ margin:20px auto; }
			hr{ padding:0 20px; }
		}
	}
	&#newsSubPage{
		.node{ 
			padding-top:60px; 
			.nodeLeft{ 
				width:20%; font-size:12px; font-family: 'BrownBold', Arial, sans-serif; 
				.nodeLeftNewsDetail{ 
					border-bottom:1px solid #000;
				}
				a{ color:#000; }
				@include respond-to(mobile){ 
					width:80%; margin:0 auto; 
					.nodeLeftNewsDetail, .nodeLeftNewsShare{ 
						padding-top:10px; width:45%; margin-top:40px;
						border-top:1px solid #eb7f1c; border-bottom:none;
					}
					.nodeLeftNewsDetail{ float:left; }
					.nodeLeftNewsShare{ float:right; }
				}
			}
			.nodeRight{ 
				width:80%; @include respond-fonts(24px);
				.txt{ 
					padding:0 20px; 
					@include respond-to(mobile){ padding:0; }
				}
			}
			.nodeLeft, .nodeRight{ 
				float:right; text-align: left; 
				@include respond-to(mobile){ float:none; width:100%; }
			}
		}
		hr{ margin:40px 0; }

	}
	&#about{
		margin-bottom:60px;
		.about-node{
			position:relative;
			.about-slide{ display:none; }
			.about-title{
				cursor:pointer;
				.txt{ 
					width:100%; background-color: $mainGreen; 
					border-bottom:1px solid #d7d32b; 
					text-align: center; @include respond-fonts(28px);
					color: #FFF; line-height: 90px; text-transform: uppercase;
				}
				.icon-11b-left{ 
					position:absolute; right:30px; top:25px; color:#FFF; 
					@include respond-to(mobile){ top:32px; }
					@include respond-fonts(36px); 
				}
			}
			&.active{
				.about-title{
					.icon-11b-left{ @extend .icon-arrow-down; }
				}
			}
			.about-content{
				padding-bottom:30px;
				.title{ @include respond-fonts(28px); margin:30px 0; }
				.about-desc{ width:60%; margin:0 auto; }
			}
			&#aboutJoin{
				.about-desc{
					border-bottom:1px solid #d7d32b; padding-bottom:30px;
					.greyBlock{ 
						text-align: center; background-color:$footerGrey; 
						margin-top:40px; padding-bottom:30px; display:none;
						.txt{ padding:30px 30px 0px 30px; color:$mainGreen; }
						.btnWrapper{ padding:30px 0 0 0; }
					}
					&.small{ font-size:14px; }
					&.grey{ padding-bottom:0; }
					&.active{
						padding-bottom:0;
						.btnWrapper.more{ display:none; }
					}
				}
				.greyBanner{ 
					width:100%; @include respond-fonts(28px); color:$mainGreen; text-align: center;
					background-color:$footerGrey; padding:30px 0;
				}
				.btnWrapper{ padding:30px 0; }
			}
			&#aboutStudio{
				.location{ padding:40px 0; color:$mainGreen; font-family: 'BrownBold', Arial, sans-serif; }
				hr{ width:80%; margin:0 auto; }
				.about-desc{ padding:20px 0; }
				.about-content{ padding:0; }
				.owl{ padding-bottom:30px; }
			}
			&#aboutPeople{
				.close{ 
					position:absolute; top:100px; width:100%; 
					font-size:30px; color:#8a8888; display:none;
					.icon-x-1{ width:10%; text-align: center; }
				}
				.aboutLeft{ 
					float:left; width:40%; 
					img{ width:100%; margin-left:20px; }
				}
				.aboutRight{ 
					float:left; width:60%; text-align: left; 
					.txt{ 
						margin:0 20px 0px 40px; border-top:1px solid #d7d32b;
						padding-top:20px;
						a{ color:#000; }
					}
				}
				.pagination{ 
					width:100%; margin-bottom:40px;
					.pagin-left, .pagin-right{ width:10%; }
					.page{ width:80%; color:$mainGreen; line-height: normal; }
				}
			}
		}
	}
}
.btn{
	display:inline-block; text-transform: uppercase; cursor:pointer; @extend .animation;
	&.detail{ color:$mainGreen; font-size:12px; padding:5px 30px; border:1px solid $mainGreen; }
}

.owl{
	.newsNode{ 
		text-align: center; 
		.newsDesc{ @include respond-fonts(24px); color:#000; margin:20px 0; }
	}
	.owl-controls{ 
		position:relative; margin:20px 0; 
		.owl-pagination{
			.owl-page{
				display:inline-block; width:20px; line-height:30px; text-align: center; 
				span{ 
					@extend .icon-nav;
					color:#a8b7bd; font-family: 'leadarchitect';
				}
				&.active{ 
					span { color:#e38025; }
				}
			}
		}
		.owl-buttons{
			position:absolute; top:0; left:0; width:100%;
			.owl-prev{ 
				padding-right:10%; 
				@include respond-to(mobile){ float:left; }
			}
			.owl-next{ 
				padding-left:10%; 
				@include respond-to(mobile){ float:right; }
			}
			.owl-prev, .owl-next{ 
				font-family: 'leadarchitect'; font-size: 30px; color:$mainGreen;
				display:inline-block;
			}
		}
	}
	.pagination{
		width:160px; margin: 30px auto 20px auto;
		.page{ 
			float:left; width:100px; line-height:30px; text-align: center; 
			.icon-nav{ 
				color:#a8b7bd;
				&.active{ color:#e38025; }
			}
		}
		.pagin-left, .pagin-right{ float:left; font-size:30px; color:$mainGreen; }
	}
}
.social{
	position:relative;
	.icon{ 
		width:100%; height:80px; background-color: $mainGreen; 
		border-bottom:1px solid $secGreen; 
		text-align: center; font-size: 35px;
		color: #FFF; line-height: 90px; cursor:pointer;
	}
	.socialContent{ display:none; padding:40px 0; }
	.icon-11b-left{ position:absolute; right:30px; top:25px; @include respond-fonts(36px); color:#FFF; }
	&.active{
		.icon-11b-left{ @extend .icon-arrow-down; }
	}
}
.shortFilm{ 
	background-color:#e9e7e6; margin:30px 0px; 
	.shortFilmLeft{ display:table-cell; width:70%; } 
	.shortFilmRight{ 
		display:table-cell; width:30%; vertical-align:middle; color:$mainGreen; @include respond-fonts(40px); text-align: center;
		@include respond-to(mobile){ padding:40px 0; }
	}
	.shortFilmLeft, .shortFilmRight{
		@include respond-to(mobile){
			display:block; width:100%;
		}
	}
	.mountWidthImage{ width:100%; }
}
.footer{
	background-color:$footerGrey; 
	.fw-button{
		border-bottom:1px solid $mainGreen; color:$mainGreen; text-align: center; position:relative;
		text-transform: uppercase; font-size:20px;
		.icon-11b-left{ position:absolute; right:30px; top:25px; }
		.txt{ padding:20px 0; cursor: pointer; }
		.footerSlide{ 
			padding-bottom:40px; display:none;
			.socialLogo{
				margin:40px 0 0 0; color:#bec9cd; font-size:20px;
				.icon{ 
					padding:15px 25px; border-left:1px solid #FFF; @extend .animation;
					&.icon-facebook{ border:none; }
					&:hover{ color:$mainGreen; cursor:pointer; }
					&.icon-pinterest-circled{ border-right:1px solid #FFF; }
					@include respond-to(mobile){ display:inline-block; padding:20px 30px; margin-bottom:20px; }
				}
			}
			.newsLetterInput{ 
				border:none; display:block; width:40%; margin:20px auto; padding:15px;
			}
		}
		&.active{ 
			.icon-11b-left{ @extend .icon-arrow-down; } 
		}
	}
	.lower{
		height:140px; background-repeat: no-repeat; background-position:center 25px;
		font-size:12px; color:$mainGreen; overflow: hidden;
		@include respond-to(mobile){ height:auto; padding-top:140px; }
		.leftFooter{ 
			float:left; line-height: 205px;
			span{ margin:0 10px; }
		}
		.rightFooter{ 
			float:right; line-height: 205px; margin-right:10px; 
			@include respond-to(mobile){ margin-bottom:20px; }
		}
		.leftFooter, .rightFooter{
			@include respond-to(mobile){ float:none; line-height: normal; text-align: center; }	
		}
	}
}
.terms{ 
	width:80%; margin:0 auto; background-color:#FFF; font-size:14px;
	padding-bottom:40px; position:relative; display:none;
	.close{ position:absolute; top:10px; color:$mainGreen; cursor:pointer; }
	.termsTitle{ text-align: center; padding:20px 0; color:$mainGreen; font-size: 20px; }
	.termsLeft{ width:31%; margin-right:2%; float:left; }
	.termsMiddle{ width:31%; margin-right:2%; float:left; }
	.termsRight{ width:33%; float:left; }
}

#termsCaller{ cursor:pointer; }